.h5p-portfolio-placeholder {
  width: 100%;

  .h5p-portfolio-placeholder-content-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em;

    .h5p-portfolio-placeholder-content {
      width: 100%;

      .h5p-portfolio-placeholder-content-instance {
        width: 100%;

        &.h5p-video {
          height: fit-content;
        }

        &.h5p-interactive-video {
          background: transparent !important; /* original also uses !important */
        }

        &.h5p-image-hotspots {
          button.h5p-image-hotspot {
            font-size: max(32px, 2rem);
          }
        }
      }
    }
  }
}
